{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Accueil {% endblock %}

{% block contenu %}

  <style>
      .loader {
      position : fixed;
      z-index: 9999;
      background : url('https://velorail.trainguitres.fr/image/patientez.gif') 50% 50% no-repeat;
      top : 0px;
      left : 0px;
      height : 100%;
      width : 100%;
      cursor : wait;
      }
  </style>

  <div style="text-align:center" class="loader" id="loader">
     <br>
  </div>
<h1 class="animate__animated animate__flipInX" >Bienvenue sur le site de l’AS400
</h1>
<br>
<div style="text-align:center">
<h2> Que voulez-vous faire ? </h2>
</div>

<div style="padding-left:5%; padding-right:5%; padding-top:3%">
{# <!--style pour que les liens ne soient pas soulignés -->
  <style type="text/css">
    .open-button{text-decoration:none;}
    a:link{text-decoration:none;}
  </style> #}
<div class="card text-white bg-primary mb-3" style="max-width: 110rem; border-radius:20px">
  <div class="card-body">
    <div style="text-align:center">
      <h3 class="card-title">Voir la liste des commandes passées puis le détail de ces commandes ainsi que les informations sur les batteries, les plans de coffres et de cyclages</h3>
    <br>
    <div style="margin-left: auto; margin-right: auto; width: ...;">
<a class="open-button" style="cursor: pointer; hover; text-decoration:none;" onmouseover="this.style.opacity ='0.8'" onmouseout="this.style.opacity ='1'">
<div class="card text-white bg-secondary mb-3" style="max-width: 95%; margin-left: auto; margin-right: auto; width: ...; border-radius:20px">
  <div class="card-body">
    <h4 class="card-title"> À partir du nom d'un client : </h4> <br>
    <form class="form-inline my-2 my-lg-0" action="index.php?page=codeclient-detailscommande" method="post">
      <div style="margin-left: auto; margin-right: auto; width: ...; border-radius:20px">
        <input class="form-control mr-sm-2" type="search" name="recherche" id="recherche" placeholder="Nom d'un client">
        <span onclick="recherche()"> 
          <button onmouseover="this.style.opacity ='1'" onmouseout="this.style.opacity ='0.7'" style="border-width:1px; border-style:dotted; border-color:black;" class="btn btn-outline-primary my-2 my-sm-0" name="btRechercher" id="btRechercher" type="submit"> <FONT color="white"> Rechercher </FONT></button>
        </span> 
      </div>
    </form>
  </div>
</div>
</a>
<a class="open-button" style="cursor: pointer; hover; text-decoration:none;" onmouseover="this.style.opacity ='0.8'" onmouseout="this.style.opacity ='1'">
<div class="card text-white bg-info mb-3" style="max-width: 95%; margin-left: auto; margin-right: auto; width: ...; border-radius:20px">
  <div class="card-body">
    <h4 class="card-title"> À partir du nom d'un article : </h4> <br>
    <form class="form-inline my-2 my-lg-0" action="index.php?page=article-commandes" method="post">
    <div style="margin-left: auto; margin-right: auto; width: ...;">
      <input class="form-control mr-sm-2" type="search" name="rechercheArticle" id="rechercheArticle" placeholder="Nom de l'article">
      <span onclick="recherche()"> 
        <button onmouseover="this.style.opacity ='1'" onmouseout="this.style.opacity ='0.7'" style="border-width:1px; border-style:dotted; border-color:black;" class="btn btn-outline-primary my-2 my-sm-0" name="btRechercherArticle" id="btRechercherArticle" type="submit"> <FONT color="white"> Rechercher </FONT></button>
      </span>
    </div>
    </form>
  </div>
</div>
</a>
<a class="open-button" style="cursor: pointer; hover; text-decoration:none;" onmouseover="this.style.opacity ='0.8'" onmouseout="this.style.opacity ='1'">
<div class="card text-white bg-success mb-3" style="max-width: 95%; margin-left: auto; margin-right: auto; width: ...; border-radius:20px">
  <div class="card-body">
    <h4 class="card-title">À partir d'un numéro de série : </h4>
    <form class="form-inline my-2 my-lg-0" action="index.php?page=garantie-commandesfactures" method="post">
    <div style="margin-left: auto; margin-right: auto; width: ...;"> <br>
    <input class="form-control mr-sm-2" type="search" name="rechercheGarantie" id="rechercheGarantie" placeholder="Numéro de série">
    <span onclick="recherche()"> 
      <button onmouseover="this.style.opacity ='1'" onmouseout="this.style.opacity ='0.7'" style="border-width:1px; border-style:dotted; border-color:black;" class="btn btn-outline-primary my-2 my-sm-0" name="btRechercherGarantie" id="btRechercherGarantie" type="submit"> <FONT color="white"> Rechercher </FONT></button>
    </span> 
</div>
</form>
  </div>
</div>
</a>
<a class="open-button" style="cursor: pointer; hover; text-decoration:none;" onmouseover="this.style.opacity ='0.8'" onmouseout="this.style.opacity ='1'">
<div class="card text-white bg-warning mb-3" style="max-width: 95%; margin-left: auto; margin-right: auto; width: ...; border-radius:20px">
  <div class="card-body">
    <h4 class="card-title">À partir d'un numéro d'article : </h4>
    <form class="form-inline my-2 my-lg-0" action="index.php?page=NbrArt-commande" method="post">
    <div style="margin-left: auto; margin-right: auto; width: ...;"> <br>
    <input class="form-control mr-sm-2" type="search" name="rechercheNbrArt" id="rechercheNbrArt" placeholder="Numéro de série">
    <span onclick="recherche()"> 
      <button onmouseover="this.style.opacity ='1'" onmouseout="this.style.opacity ='0.7'" style="border-width:1px; border-style:dotted; border-color:black;" class="btn btn-outline-primary my-2 my-sm-0" name="btRechercherNbrArt" id="btRechercherNbrArt" type="submit"> <FONT color="white"> Rechercher </FONT></button>
    </span> 
</div>
</form>
  </div>
</div>
</a>
</div>

{# </div> #}
</div>
</div>
</div>


<div class="card text-white bg-primary mb-3" style="max-width: 110rem; border-radius:20px">
  <div class="card-body">
    <div style="text-align:center">
      <h3 class="card-title">Voir la liste des batteries installées dans un chariot ainsi que les plans de coffres et de cyclages</h3>
    <br>
    <div style="margin-left: auto; margin-right: auto; width: ...; border-radius:20px">

<a class="open-button" style="cursor: pointer; hover; text-decoration:none;" onmouseover="this.style.opacity ='0.8'" onmouseout="this.style.opacity ='1'">
<div class="card text-white bg-danger mb-3" style="max-width: 95%; margin-left: auto; margin-right: auto; width: ...; border-radius:20px">
  <div class="card-body">
    <h4 class="card-title"> À partir d'un modèle de chariot :</h4>
    <form class="form-inline my-2 my-lg-0" action="index.php?page=chariot-batteriesplans" method="post">
      <div style="margin-left: auto; margin-right: auto; width: ...;"> <br>
      <input class="form-control mr-sm-2" type="search" name="rechercheChariot" id="rechercheChariot" placeholder="Modèle du chariot">
      <span onclick="recherche()"> 
      <button onmouseover="this.style.opacity ='1'" onmouseout="this.style.opacity ='0.7'" style="border-width:1px; border-style:dotted; border-color:black;" class="btn btn-outline-primary my-2 my-sm-0" name="btRechercherChariot" id="btRechercherChariot" type="submit"> <FONT color="white"> Rechercher </FONT></button>
      </span> 
      </div>
    </form>
  </div>
</div>
</a>

</div>
</div>
</div>
</div>

</div>

 <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript">
    $(window).load(function() {
    $(".loader").fadeOut("1000");})

    function recherche(){
      //alert("click");
      $(".loader").fadeIn();
    }
  </script>

{% endblock %}